body {
	margin:0;
	overflow-x:hidden;
}
a {
	color:unset;
	text-decoration:none;
}
a:hover {
	text-decoration: underline;
}
#home {
	width:100%;
	position:relative;
	box-sizing: border-box;
	padding:5%;
	padding-top: 10%;
	background-image: url(../img/back.png);
	background-size: cover;
	background-position: 50% 0%;
	background-attachment: fixed;
	background-color: #2f2e2e;
	background-blend-mode:overlay;
}
#site_nav {
	height: 70px;
	width: 100%;
	line-height: 70PX;
	position: fixed;
	top:0;
	font-family: 'quicksand',sans-serif;
	font-size: 0.9em;
	color: #d5cfc0;
	left: 0;
	padding-left: inherit;
	z-index: +10000;
	box-sizing: border-box;
	box-shadow: 0px 50px 50px rgba(0,0,0,0.25) inset;
}
#pearl_logo {
	position:absolute;
	right:10px;
	top:10px;
	
	}
	#pearl_logo img {
		width:12vw;
		border-radius:50%;
		box-shadow:0px 4px 8px rgba(0,0,0,0.25);
		
	}
#site_nav > span {
	display:inline-block;
	padding:0px 1.2em;
	
}
#site_nav > span > a{
	text-decoration:none;
	color:white;
	font-family:'Roboto',Helvetica,sans-serif;
}
#site_nav > span > a.active {
	color:darkgoldenrod;
}
#site_header {
	width:100%;
	position:relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
#site_header .logo {
	display:flex;
	flex-direction:column;
	align-items:center;
	width: 60%;
}
#site_header .subtext {
	max-width: 30%;
	color: #ddd;
	text-align: left;
	padding: 5em;
	font-size: 0.9em;
	border-left: 1px solid #ddd;
	line-height: 1.5;
	font-family: 'quicksand',Helvetica,sans-serif;
	opacity: 0.8;
}
#site_header .logo > img {
	width: 100%;
}
#site_header .logo > span {
	font-family:'teko',sans-serif;
	display:block;
	position:relative;
	font-size: 3em;
	color: #d7d1c1;
	margin-top: -0.5em;
}
#gallery {
	width:100%;
	display:flex;
	flex-direction:column;
	margin-top:10vh;
	margin-bottom:-6px;
}
#gallery .row {
	width:100%;
	display:flex;
	flex-direction:row;
	position:relative;
	margin:6px -6px;
}
#gallery .row .card {
	width:50%;
	background:linear-gradient(45deg, #eee,#fff);
	display:flex;
	margin:0px 6px;
	flex-direction:row;
}
#gallery .row .card {
	font-family:'Open Sans','Segoe UI',"Arial","Helvetica",sans-serif;
	line-height: 0;
}
#gallery .row .card .thumb {
	min-width:50vh;
	width: 100%;
	overflow:hidden;
	max-height:50vh;
	position:relative;
}
#gallery .row .card .thumb img {
	width:100%;
	height:auto;
}
#gallery .row .card .desc{
	flex-grow: 1;
	font-size: 0.9em;
	line-height: 1.5;
	padding:2em 1.5em;
	color:#594327;
	display:none;
	position:relative;
}
#gallery .row.flip .card {
	text-align: right;
}
#gallery .row.flip .card .desc span {
	right:0;
	padding-right:inherit;
}
#gallery .row .card .desc span{
	font-weight: 600;
	color:#594327;
	line-height: 3em;
	font-size: 1.2em;
	position:absolute;
	bottom:0;
}
#gallery .row .card .desc span a::after {
	content:"\f08e";
	font-family: "FontAwesome";
	display: inline-block;
	vertical-align: middle;
	font-size: 0.8em;
	margin-left:0.5em;
}
#gallery .row .card a {
	transition:all 0.2s;
}
#gallery .row .card a:hover {
	text-decoration:none;
	color:#9f7946;
}

#events {
	margin-top:10vh;
	width:100%;
	height:70vh;
	display:flex;
	justify-content:center;
	overflow: hidden;
	position:relative;
	flex-direction:row;
}
#events > .image {
	width:40%;
	height:100%;
	position:relative;
	overflow:hidden;
	background:linear-gradient(60deg,#aaa,#dde);
}
#events > .image > .slide {
	background:inherit;
	position:absolute;
	top:0;
	left:0;
	pointer-gallery: none;
	opacity: 0;
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	transform:translateX(50%);
	transition:transform 0.5s 0.25s, opacity 0.2s;
}
#events > .image > .slide  img{ 
	height:100%;
}
#events > .image > .slide.active {
	transform: none;
	opacity: 1;
	transition:transform 0.5s ease-out, opacity 0.25s;
}
#events > .subtext {
	width:40%;
	height:100%;
	position:relative;
	background:linear-gradient(60deg,#efefef,#fff);
}
#events > .subtext > .slide_caption {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	padding:4em 4em;
	box-sizing: border-box;
	background:inherit;
	display: none;
	height:100%;
	overflow:scroll;
}
#events > .subtext > .slide_caption.active {
	display: block;
}
#events > .subtext > .slide_caption > span {
	font-size:2.5em;
	font-weight: 500;
	font-family: 'Teko',sans-serif;
	line-height: 0.8;
}
#events > .subtext > .slide_caption > p {
	padding:0;
	font-size: 0.9em;
	line-height: 1.5;
	margin-top:1em;
	max-width: 100%;
	color:#594327;
	font-family:'Open Sans','Segoe UI',"Arial","Helvetica",sans-serif; 
}
#events .tracker {
	width:100%;
	height:2em;
	opacity: 0.8;
	position:absolute;
	bottom:0;
	left: 0;
	background:linear-gradient(transparent,#efefef);
	align-items: center;
	text-align: center;
}
#events .tracker div {
	height:0.5em;
	width:0.5em;
	background:#9f7946;
	display: inline-block;
	margin:0px 0.25em;
	border-radius: 50%;
	transition:all 0.25s;
	cursor: pointer;
}
#events .tracker div.active {
	transform:scale(1.5);
}
#footer {
	display: flex;
	height:70vh;
	flex-direction: row;
	align-items: center;
	position:relative;
	margin-top: 10vh;
	background:linear-gradient(60deg,#efefef,#fff);
	font-size: 0.9em;
	line-height: 3;
}
#connect {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	font-family:'Open Sans','Segoe UI',"Arial","Helvetica",sans-serif;
	font-weight: 600;
	padding:5% 10%;
	box-sizing: border-box;
	color: #594327;
	height: 100%;
	padding-right:50px;
}
#connect h1 {
	line-height: 1.5;
}
#connect > span > span {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.5em;
}
#connect .social .fa{
	border-right:none;
}
#connect i.fa {
	font-size: 1.5em;
	color:#9f7946;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
	width: 1.5em;
	color: #9f7946;
	padding-right: 1em;
	text-align: center;
	border-right: 1px solid #9f7946;
}
#connect textarea {
	width:100%;
	background:transparent;
	border:1px solid rgba(89, 67, 39, 0.28);
	resize:none;
	padding:2% 5%;
	font:inherit;
	font-weight: 400;
	outline:none;
	box-sizing: border-box;
	margin-top:3em;
}
#connect textarea:focus {
	border-color:#9f7946;
}
#team {
	max-width: 60%;
	text-align: center;
}
#team > div {
	display: inline-flex;
	border-radius:50%;
	position:relative;
	width:12vw;
	height:12vw;
	margin:0px 2vw;
	background-size:cover;
	background-position:50% 50%;
	vertical-align:top;
	flex-direction:column;
	align-items: center;
    justify-content: center;
    background-color:transparent;
	color:transparent;
    background-blend-mode: overlay;
    font-family: sans-serif;
	box-sizing:border-box;
	padding:10% 0;
	}
#team > div > span {
	transform:scale(0);
	color:transparent;
	line-height:2;
	transition:transform 0.25s,color 0.1s;
}
#team > div > span:first-child {
	font-weight:bold;
	font-size:1.2em;
}
#team > div:hover > span {
	transform:scale(1);
	transition:transform 0.25s,color 0.1s;
	color: rgba(255,255,255,0.8);
}
#team > div:hover {
	transition:all 0.5s;
	color: rgba(255,255,255,0.8);
	background-color: rgba(0,0,0,0.5);
}
#team > div::after {
	box-shadow:0px 0px 0px 2px rgba(255,255,255,0.5);
	content:"";
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
	border-radius:50%;
	display:none;
}
#team > div:hover::after {
	display:block;
	opacity:0;
	animation: ripple 0.75s 0s cubic-bezier(0,0,0,1);
}
@keyframes ripple {
	0% {
		opacity:0;
		transform:scale(0.5);
	}
	50% {
		opacity:1;
	}
	100%{ 
		opacity:0;
		transform:scale(1);
	}
}
#sponsors {
	min-height:40vh;
	margin-top:2vh;
	box-sizing: border-box;
	padding:2% 5%;
	width:100%;
	display: block;
	background:linear-gradient(60deg,#efefef,#fff);
}

@media screen and (max-width: 500px) {
	#site_nav {
		display: none;
	}
	#site_header .logo {
		width: 90%;
	}
	#site_header .logo img {
		width:100%;
		margin-bottom:10px;
	}
	#site_header .subtext {
		max-width: 100%;
		font-size: 1.2em;
		padding: 3em 1.5em;
		border:none;
		box-sizing: border-box;
	}
	#site_header .logo > span {
    	font-size: 1.5em;
    }
    #site_header {
    	flex-direction: column;
    }
    #gallery .row {
    	flex-direction: column;
    }
    #gallery .row .card {
    	flex-direction: column;
    	width: 100%;
    	margin:10px 0px;
    }
    #gallery .row.flip .card {
    	flex-direction: column-reverse;
    	width:100%;
    	text-align:initial;
    }
    #gallery .row .card .desc {
    	padding-bottom:3.5em;
    	font-size: 1.2em;
    }
    #events {
    	display: block;
    	height:unset;
    }
    #events > div {
    	display: block;
    }
    #events > .image {
    	height:90vw;
		width:90vw;
    }
	#events > .subtext {
		width:100%;
		height:60vh;
		display: block;
	}
	#events .tracker {
		display: none;
	}
	#events > .subtext > .slide_caption {
		padding:2em;
		height:60vh;
	}
	#events > .subtext > .slide_caption > p {
		font-size: 1.2em;
		padding-bottom:2em;
		max-width: 100%;
	}
	#footer {
		flex-direction: column;
		height:unset;
	}
	#team {
		max-width: 100%;
		padding:2em 20px;
		box-sizing: border-box;
	}
	#team div.dude {
		width:20vw;
		height: 20vw;
		background-size:cover;
		background-position:50% 50%;
		display:inline-flex;
		padding:0px;
		text-align:center;
	}
	#team div.dude:hover{
		background-color:transparent;
	}
	#team div.dude:hover::after {
		display:none;
	}
	#team div.dude span {
		white-space:nowrap;
		background:#fff;
		border-radius:2px;
		box-shadow:0px 2px 4px rgba(0,0,0,0.2);
		color:#121212;
		padding:0em 1em;
		line-height:2.5;
		margin:0em -1em;
		display:none;
		opacity:0;
	}
	#team div.dude:hover span {
		display:inline;
		opacity:1;
		transition:all 0.5s !important;
	}
	#connect .social {
		width:100%;
		text-align:center;
		display:flex;
		justify-content:center;
	}
	#connect .social i {
		padding:0;
		margin:10px;
	}
}
.register{
	border: 3px solid #e70955;
	color: #A2181A;
	padding: 5px;
}